@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*#
@info@STYLES BASKET SELECTIONS METADATA@info@
@name&styles_basket&name@
@aspects&theme-fonts-roboto-open-sans,page-size-us-letter&aspects@
@info@WARNING: PLEASE DON'T MODIFY THIS FILE. MODIFICIATION CAN CAUSE UPLOADING ERRORS@info@
#*/
/*theme-fonts-roboto-open-sans*/
*[class~='front-page/front-page-title'],
*[class~='topic/topic'][is-chapter] > *[class~='topic/title'] {
  font-family: 'Roboto', sans-serif;
}
*[class~='topic/topic'][is-chapter] > *[class~='topic/topic'] > *[class~='topic/title'] {
  font-family: 'Roboto', sans-serif;
}
*[class~='topic/title'],
*[class~='topic/thead'] {
  font-family: 'Roboto', sans-serif;
}
*[class~='topic/shortdesc'],
*[class~='topic/p'],
*[class~='topic/li'],
*[class~='topic/tbody'] {
  font-family: 'Open Sans', sans-serif;
}
/*page-size-us-letter*/
@media print {
  @page {
    size: us-letter;
  }
}

