*[class ~= "toc/toc"] {
    font-family: 'Montserrat', sans-serif;
}

*[class ~= "pr-d/codeblock"] {
    background-color: aliceblue;
}

*[class ~= 'topic/li']::marker {
    font-family: "DejaVu Serif", FreeSerif;
}
